/* Estilo general */
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
html, body {
    color: #fff;
    background-color:rgba(49, 163, 189);
    font-family: Lato, sans-serif;
    margin-top: 30px;
 }

 /* Estilo de base*/
.app-tareas {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

/*Estilo Lista de Tareas*/
.lista-de-tareas{
    width: 650px;
    min-height: 500px;
    background-color:#1b1b56;
    padding: 25px;
    border-radius: 26px;

}

h1 {
    color: #d0d0d5;
    font-size: 60px;
    font-family: roboto, sans-serif;
    text-align: center;
    margin: 15px 0; 
}

h5 {
    color: #d0d0d5;
    font-family: roboto, sans-serif;
    text-align: center;
    margin: 5px 0; 
    margin-bottom: 10px;
}

